@font-face {
  font-family: "Bundy-Yellow-Solid";
  src: url("font/Bundy-Yellow-Solid.ttf.woff") format("woff"),
    url("font/Bundy-Yellow-Solid.ttf.svg#Bundy-Yellow-Solid") format("svg"),
    url("font/Bundy-Yellow-Solid.ttf.eot"),
    url("font/Bundy-Yellow-Solid.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

#logo-box {
  background-color: #ff6600;
  height: 500px;
  width: 500px;
  text-align: center;
}

#logo-box #words p {
  margin: auto;
  /* line-height: 2px; */
  vertical-align: middle;
}

#words {
  padding-top: 100px;
  padding-right: 100px;
}

#the {
  font-size: 75px;
  transform: rotate(-45deg);
}

#home {
  font-size: 120px;
  transform: rotate(-45deg);
}

#depot {
  font-size: 75px;
  transform: rotate(-45deg);
}

p {
  color: #ffffff;
  font-family: Bundy-Yellow-Solid, cursive;
  font-weight: bold;
}
